:root {
	--branco-principal: #FFFFFF;
	--cinza-secundario: #C0C0C0;
	--botao-azul: #167BF7;
	--cor-de-fundo: #040814;
	--fonte-principal: 'inter';
	--botao-azul-efeito: #fc007e;
}

body {
	background-color: var(--cor-de-fundo);
	color: var(--branco-principal);
	font-family: var(--fonte-principal);
	font-size: 16px;
	font-weight: 400;
}
*{
	margin: 0;
	padding: 0;
}
.principal{
	background-image: url("https://cutewallpaper.org/21/lord-of-the-rings-wallpaper-1920x1080/I-love-this-Lord-of-the-Rings-wallpaper-1920x1080-wallpapers.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	align-items: center;
	text-align: center;
}
.container{
	height: 100vh;
	display: grid;
	grid-template-columns: 50% 50%;
}
.container__caixa{
	margin: 0 6em;
}
.container__titulo{
	font-size: 28px;
	font-weight: 700;
}
.container__logo{
	width: 348px;
	height: 100px;
	margin: 1em 0 2em 0;
}
.container__ancora{
	background-color: var(--botao-azul);
	border-radius: 8px;
	padding: 1em;
	color: var(--branco-principal);
	display: block;
	text-decoration: none;
	margin-bottom: 1em;
}
.container__ancora:hover{
	background-color: var(--botao-azul-efeito);
	color: var(--cor-de-fundo);
}
.ancora__secundaria{
	background-color: transparent;
	border: 2px solid var(--branco-principal);
}
.container__aviso{
	font-size: 12px;
	color: var(--cinza-secundario);
}
.secundario{
	align-items: center;
	margin: 0 10em;
}
.secundario__imagem{
	width: 80%;
}
.descricao__titulo{
	font-weight: 700;
	font-size: 48px;
	margin-bottom: 0.3em;
}
.descricao__texto{
	color: var(--cinza-secundario);
}
.secundaria_ancora{
	display: inline-block;
	margin-top: 1em;
}
.container__descricao{
	padding: 2em;
}
.dispositivos{
	margin-top: 1em;
	text-align: center;
}
.dispositivos__titulo{
	font-size: 38px;
	color: var(--branco-principal);
}
.dispositivos__lista{
	display: flex;
	justify-content: center;
	list-style-type: none;
	margin: 3em 0;
}
.lista__item{
	font-size: 22px;
	color: var(--branco-principal)
}
.footer{
	margin-top: 5em;
	margin-bottom: 3em;
	text-align: center;
}
.footer__logo{
	width: 50px;
}
.footer__lista{
	display: flex;
	justify-content: center;
	list-style: none;
	margin-top: 0.5em;
}
.lista__link{
	padding: 0.1em 0.4em;
	font-size: 14px;
}
.lista__link a{
	text-decoration: none;
	color: var(--branco-principal);
}
.lista__link a:hover{
	color: var(--botao-azul);
}
.lista__link a:active{
	color: deeppink;
}
.footer__texto{
	margin: 1em;
	font-size: 14px;
	color: var(--cinza-secundario);
}
@media screen and (max-width: 480px){
	.container, .principal, .secundario, .dispositivos, .footer{
		width: 100%;
		display: block;
	}
	.descricao__texto{
		font-size: 20px;
	}
}
